<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 	http://www.springframework.org/schema/beans/spring-beans.xsd
 	http://www.springframework.org/schema/context
 	http://www.springframework.org/schema/context/spring-context.xsd">
 	
 	<bean id="coco" class="br.edu.ifpb.pweb2.pratica1.TreinoMeioTemporada"/>
 <!--  
 	<bean id="treinamento" class="br.edu.ifpb.pweb2.pratica1.Treinamento">
 		<constructor-arg ref="treino"/>
 	</bean>
 -->	
 	
 	 <bean id="treinamento" class="br.edu.ifpb.pweb2.pratica1.Treinamento">
 		<property name="taisagorda" ref="coco"></property>
 	 </bean>
 	
</beans>
